//footer
// footer top
.footer-top {
  background: url("../assets/img/background/03.jpg.webp") no-repeat top center /
    cover;
  min-height: 300px;
  .container-1100 {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 10px;
    align-items: center;
    .footer-top-first-section-text {
      .title {
        font-size: 2.1rem;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 20px;
      }
      .description {
        color: rgba(156, 156, 156, 0.8);
        margin-top: 5px;
      }
    }
  }
}
// footer middle
.footer-middle {
  background-color: rgb(32, 5, 69);
  min-height: 550px;
}
// footer bottom
.footer-bottom {
  background-color: #1b043b;
  min-height: 70px;
}
