// header

.header {
  width: 100%;
  background: url("../assets/img/background/bg.jpg.webp") no-repeat fixed top
    center / cover;
  min-height: 800px;
  .nav {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 110px;
      cursor: pointer;
      position: relative;
    }
    .hamberger-menu {
      display: none;
      .fa-bars {
        color: white;
        font-weight: 800;
        font-size: 30px;
      }
    }
    .nav-menu {
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-item {
          padding-top: 20px;
          .menu-link {
            font-size: 20px;
            color: white;
            padding: 15px;
            cursor: pointer;
            &:hover {
              transition: 0.3s;
              border-bottom: 2px solid $background-color-main;
              color: $background-color-main;
            }
          }
          &:last-child {
            .menu-link {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $background-color-main;
              border-radius: 100px;
              transition: 0.5s;
              border-bottom: 0px;
              &:hover {
                transition: 0.5s;
                background-color: white;
                color: $background-color-main;
                border-bottom: 0px;
                box-shadow: 1px 1px 3px $background-color-main;
                opacity: 0.9;
              }
            }
          }
        }
        .menu-item:not(:last-child) {
          padding-right: 10px;
        }
      }
    }
  }
}
.header {
  .container-1100 {
    padding-top: 110px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .site-description-header-text {
      .title {
        color: white;
        font-family: $font-roboto-bold;
        font-size: 6rem;
      }
      .paragraph-wrapper {
        .paragraph-description {
          color: white;
          line-height: 1.7;
          font-size: 20px;
          font-weight: 500;
          font-variant: small-caps;
          text-transform: capitalize;
          margin: 20px 0px;
        }
      }
    }
    .rocket {
      position: absolute;
      top: 40%;
      left: 65%;
      width: 45%;
    }
  }
}
.header {
  position: relative;
  input#checkbox {
    display: none;
  }
  input#checkbox[type="checkbox"]:checked ~ nav.nav-mobile {
    transition: 0.5s;
    display: block;
  }
  .nav-mobile {
    z-index: 5;
    display: none;
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 2px 5px black;
    .nav-menu {
      .menu {
        .menu-item {
          width: 100%;
          border-top: 1px solid rgba(128, 128, 128, 0.5);
          border-bottom: 1px solid rgba(128, 128, 128, 0.5);
          text-align: left;
          padding: 20px;
          cursor: pointer;
          &:hover {
            color: $background-color-main;
          }
          .menu-link {
            width: 100%;
            font-weight: 500;
          }
        }
        .register-item {
          width: 100%;
          text-align: right;
          border-bottom: 1px solid rgba(128, 128, 128, 0.5);
          padding: 20px;
          .menu-link {
            width: 100%;
            padding: 10px 20px;
            font-weight: 500;
            background-color: $background-color-main;
            border-radius: 100px;
            transition: 0.5s;
            border-bottom: 0px;
            color: white;
            &:hover {
              transition: 0.5s;
              background-color: white;
              color: $background-color-main;
              border-bottom: 0px;
              box-shadow: 1px 1px 3px $background-color-main;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
}
