*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
body {
  font-family: "roboto";
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-1100 {
  max-width: 1100px;
  margin: 0 auto;
}

.active {
  color: #EB2B63 !important;
  font-family: "roboto-bold";
  border-bottom: 2px solid #EB2B63;
}

.btn {
  padding: 15px;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 15px;
  border: 0px;
  outline: 0px;
  box-shadow: 2px 2px 6px black;
  transition: 0.2s;
  border-radius: 10px;
  padding-inline: 25px;
  color: white;
  background-color: #EB2B63;
  font-family: "roboto-bold";
  cursor: pointer;
}
.btn:hover {
  transition: 0.2s;
  opacity: 0.8;
}

@keyframes rocket-mover {
  0%, 100% {
    top: 40%;
    left: 65%;
  }
  25% {
    top: 45%;
    left: 67%;
  }
  50% {
    top: 40%;
    left: 67%;
  }
  75% {
    top: 45%;
    left: 65%;
  }
}
.animation-rockt {
  animation-name: rocket-mover;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/img/background/01.jpg") no-repeat fixed top center/cover;
  min-height: 800px;
}
.header .nav {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .nav .logo {
  width: 110px;
  cursor: pointer;
  position: relative;
}
.header .nav .nav-menu .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav .nav-menu .menu .menu-item {
  padding-top: 20px;
}
.header .nav .nav-menu .menu .menu-item .menu-link {
  font-size: 20px;
  color: white;
  padding: 15px;
  cursor: pointer;
}
.header .nav .nav-menu .menu .menu-item .menu-link:hover {
  transition: 0.3s;
  border-bottom: 2px solid #EB2B63;
  color: #EB2B63;
}
.header .nav .nav-menu .menu .menu-item:last-child .menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EB2B63;
  border-radius: 100px;
  transition: 0.5s;
  border-bottom: 0px;
}
.header .nav .nav-menu .menu .menu-item:last-child .menu-link:hover {
  transition: 0.5s;
  background-color: white;
  color: #EB2B63;
  border-bottom: 0px;
  box-shadow: 1px 1px 3px #EB2B63;
  opacity: 0.9;
}
.header .nav .nav-menu .menu .menu-item:not(:last-child) {
  padding-right: 10px;
}

.header .container-1100 {
  padding-top: 110px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header .container-1100 .site-description-header-text .title {
  color: white;
  font-family: "roboto-bold";
  font-size: 6rem;
}
.header .container-1100 .site-description-header-text .paragraph-wrapper .paragraph-description {
  color: white;
  line-height: 1.7;
  font-size: 20px;
  font-weight: 500;
  font-variant: small-caps;
  text-transform: capitalize;
  margin: 20px 0px;
}
.header .container-1100 .rocket {
  position: absolute;
  top: 40%;
  left: 65%;
  width: 45%;
}

.main-top-title {
  padding-top: 50px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.main-top-title .logo {
  width: 20%;
  padding-left: 90px;
}
.main-top-title .description .explanation {
  color: #333;
  opacity: 0.7;
  font-family: "roboto-bold";
  padding-bottom: 20px;
  text-align: center;
}
.main-top-title .description .features {
  font-size: 55px;
}

.main-top-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
  margin-bottom: 70px;
}
.main-top-features .card-features-active {
  margin-bottom: 55px !important;
}
.main-top-features .card-features {
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding: 10px;
}
.main-top-features .card-features:hover {
  transition: 0.5s;
  opacity: 0.9;
  box-shadow: 1px 1px 5px black;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-top-features .card-features .icon-features {
  font-size: 30px;
  background-color: #EB2B63;
  padding: 35px;
  border-radius: 50%;
  color: white;
  box-shadow: 1px 1px 4px black;
}
.main-top-features .card-features .icon-features-active {
  font-size: 90px;
}
.main-top-features .card-features .title-features {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "roboto-bold";
  font-size: 30px;
  text-transform: capitalize;
  font-variant: small-caps;
}
.main-top-features .card-features .explanation-features {
  line-height: 1.7em;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #333;
  opacity: 0.8;
  font-size: 14px;
}

.main-middle-form {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../assets/img/background/02.webp") no-repeat center top/cover;
  min-height: 500px;
  width: 100%;
  margin-bottom: 150px;
}
.main-middle-form .main-middle-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
}
.main-middle-form .main-middle-title .logo {
  margin: 0 auto;
  width: 3.5%;
}
.main-middle-form .main-middle-title .description .explanation {
  color: #c2c2c2;
  opacity: 0.7;
  font-family: "roboto-bold";
  text-align: center;
}
.main-middle-form .main-middle-title .description .features {
  font-size: 55px;
  color: white;
}
.main-middle-form .form {
  display: grid;
  grid-template-columns: 1fr 220px;
  grid-gap: 10px;
  padding: 5px;
}
.main-middle-form .form .website-input {
  padding: 25px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.main-middle-form .form .website-input::-moz-placeholder {
  font-size: 16px;
  font-family: "roboto";
  color: #929292;
}
.main-middle-form .form .website-input::placeholder {
  font-size: 16px;
  font-family: "roboto";
  color: #929292;
}
.main-middle-form .paragraph-wrapper .paragraph-description {
  color: rgba(214, 214, 214, 0.4);
  font-size: 16px;
  margin-left: 5px;
}

.main-middle-progressbar {
  margin-bottom: 100px;
}
.main-middle-progressbar .container-1100 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper {
  width: 100%;
  height: 10px;
  border: 1px solid rgba(169, 169, 169, 0.2);
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 50px;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar1 {
  height: 10px;
  border-radius: 10px;
  width: 80%;
  background: linear-gradient(#EB2B63, crimson);
  position: relative;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar1::before {
  content: "Illustrator";
  position: absolute;
  top: -300%;
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar1::after {
  content: "80%";
  position: absolute;
  top: -300%;
  left: 100%;
  transform: translate(-100%);
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar2 {
  height: 10px;
  border-radius: 10px;
  width: 90%;
  background: linear-gradient(rgb(235, 43, 174), rgb(235, 43, 174));
  position: relative;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar2::before {
  content: "Photoshop";
  position: absolute;
  top: -300%;
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar2::after {
  content: "90%";
  position: absolute;
  top: -300%;
  left: 100%;
  transform: translate(-90%);
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar3 {
  height: 10px;
  border-radius: 10px;
  width: 80%;
  background: linear-gradient(#d22beb, #d22beb);
  position: relative;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar3::before {
  content: "SEO";
  position: absolute;
  top: -300%;
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar3::after {
  content: "80%";
  position: absolute;
  top: -300%;
  left: 100%;
  transform: translate(-100%);
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar4 {
  height: 10px;
  border-radius: 10px;
  width: 60%;
  background: linear-gradient(#972beb, #972beb);
  position: relative;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar4::before {
  content: "E-commerce";
  position: absolute;
  top: -300%;
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar4::after {
  content: "60%";
  position: absolute;
  top: -300%;
  left: 100%;
  transform: translate(-90%);
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar5 {
  height: 10px;
  border-radius: 10px;
  width: 70%;
  background: linear-gradient(#732beb, #732beb);
  position: relative;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar5::before {
  content: "HTML";
  position: absolute;
  top: -300%;
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .progressbars .progressbar-wrapper .progressbar5::after {
  content: "70%";
  position: absolute;
  top: -300%;
  left: 100%;
  transform: translate(-90%);
  font-size: 20px;
  color: #333;
}
.main-middle-progressbar .container-1100 .slide-messages {
  cursor: pointer;
  position: relative;
}
.main-middle-progressbar .container-1100 .slide-messages .message {
  background-color: #eef6f9;
  width: 100%;
  height: auto;
  padding: 10px;
  padding-inline: 70px;
  border-radius: 10px;
  color: rgba(51, 51, 51, 0.5);
  text-align: justify;
  line-height: 1.7em;
  position: relative;
  font-size: 16px;
  font-variant: small-caps;
  text-transform: capitalize;
  box-shadow: 2px 2px 6px #eef6f9;
  font-family: "roboto-bold";
}
.main-middle-progressbar .container-1100 .slide-messages .message:after {
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid #eef6f9;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-170%, 0%);
}
.main-middle-progressbar .container-1100 .slide-messages .message .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #eef6f9;
  cursor: pointer;
  position: absolute;
  top: 155%;
  left: 0%;
}
.main-middle-progressbar .container-1100 .slide-messages .message .circle-1 {
  background-color: #eef6f9;
}
.main-middle-progressbar .container-1100 .slide-messages .message .circle-2 {
  margin-left: 20px;
  background-color: #EB2B63;
}
.main-middle-progressbar .container-1100 .slide-messages .message .circle-3 {
  margin-left: 40px;
  background-color: #eef6f9;
}
.main-middle-progressbar .container-1100 .slide-messages .client .person {
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 5px black;
}
.main-middle-progressbar .container-1100 .slide-messages .client .person img {
  border-radius: 50%;
}
.main-middle-progressbar .container-1100 .slide-messages .client .client-info {
  position: absolute;
  left: 80%;
  top: 90%;
  transform: translate(-100%, -100%);
  display: flex;
  flex-direction: column;
  width: 37%;
  padding-right: 20px;
}
.main-middle-progressbar .container-1100 .slide-messages .client .client-info .client-name {
  font-size: 17px;
  font-family: "roboto-bold";
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: end;
}
.main-middle-progressbar .container-1100 .slide-messages .client .client-info .client-position {
  font-size: 15px;
  font-family: "roboto-bold";
  font-variant: small-caps;
  text-transform: capitalize;
  color: #EB2B63;
  text-align: end;
}

.main-bottom-title {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.main-bottom-title .logo {
  width: 13%;
  padding-left: 90px;
}
.main-bottom-title .description .explanation {
  color: rgba(51, 51, 51, 0.5);
  font-family: "roboto-bold";
  text-align: center;
}
.main-bottom-title .description .features {
  font-size: 55px;
}

.main-selling-plans {
  margin-bottom: 100px;
}
.main-selling-plans .container-1100 .plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.main-selling-plans .container-1100 .plans .basic .plan-button {
  text-align: center;
  font-family: "roboto-bold";
  text-transform: uppercase;
  padding: 15px;
  font-size: 25px;
  background-color: #6b3eac;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 15px;
  color: white;
}
.main-selling-plans .container-1100 .plans .basic .basic-plan-rm {
  padding: 20px;
  border-radius: 10px;
  background-color: #eef6f9;
}
.main-selling-plans .container-1100 .plans .basic .basic-plan-rm .price {
  margin-top: 20px;
}
.main-selling-plans .container-1100 .plans .basic .basic-plan-rm .price span {
  font-size: 70px;
  font-family: "roboto-bold";
  color: #333;
}
.main-selling-plans .container-1100 .plans .basic .basic-plan-rm .text-plan {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 18px;
  font-family: "roboto-bold";
}
.main-selling-plans .container-1100 .plans .basic .basic-plan-rm .get-plan-btn {
  text-align: center;
  margin: 50px;
  margin-bottom: 10px;
  padding: 20px;
}
.main-selling-plans .container-1100 .plans .star .plan-button {
  text-align: center;
  font-family: "roboto-bold";
  text-transform: uppercase;
  padding: 15px;
  font-size: 25px;
  background-color: #EB2B63;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 15px;
  color: white;
}
.main-selling-plans .container-1100 .plans .star .star-plan-rm {
  padding: 20px;
  border-radius: 10px;
  background-color: #eef6f9;
  border: 2px solid #EB2B63;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}
.main-selling-plans .container-1100 .plans .star .star-plan-rm .price {
  margin-top: 20px;
}
.main-selling-plans .container-1100 .plans .star .star-plan-rm .price span {
  font-size: 70px;
  font-family: "roboto-bold";
  color: #333;
}
.main-selling-plans .container-1100 .plans .star .star-plan-rm .text-plan {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 18px;
  font-family: "roboto-bold";
}
.main-selling-plans .container-1100 .plans .star .star-plan-rm .get-plan-btn {
  text-align: center;
  margin: 50px;
  margin-bottom: 10px;
  padding: 20px;
}
.main-selling-plans .container-1100 .plans .vip .plan-button {
  text-align: center;
  font-family: "roboto-bold";
  text-transform: uppercase;
  padding: 15px;
  font-size: 25px;
  background-color: #6b3eac;
  border-radius: 20px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 15px;
  color: white;
}
.main-selling-plans .container-1100 .plans .vip .vip-plan-rm {
  padding: 20px;
  border-radius: 10px;
  background-color: #eef6f9;
}
.main-selling-plans .container-1100 .plans .vip .vip-plan-rm .price {
  margin-top: 20px;
}
.main-selling-plans .container-1100 .plans .vip .vip-plan-rm .price span {
  font-size: 70px;
  font-family: "roboto-bold";
  color: #333;
}
.main-selling-plans .container-1100 .plans .vip .vip-plan-rm .text-plan {
  text-align: center;
  margin-bottom: 40px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 18px;
  font-family: "roboto-bold";
}
.main-selling-plans .container-1100 .plans .vip .vip-plan-rm .get-plan-btn {
  text-align: center;
  margin: 50px;
  margin-bottom: 10px;
  padding: 20px;
}

.footer {
  width: 100%;
}/*# sourceMappingURL=style.css.map */