// header about us
.header {
  min-height: 400px;
}
.header {
  .container-1100 {
    .site-description-header-text {
      .title {
        font-size: 3rem;
      }
      .paragraph-wrapper {
        .paragraph-description {
          color: #868686;
          font-weight: 700;
          font-size: 15px;
          margin: 5px 0px;
        }
      }
    }
  }
}
