@media (max-width: 768px) {
  // header and footer
  @import "global";
  // main
  .main {
    margin-top: 50px;
  }
  // main top title
  .main-top-title {
    .logo {
      width: 24%;
      padding-left: 70px;
    }
  }
  // main top features
  .main-top-features {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    .card-features-active {
      margin-bottom: 0px !important;
    }
    .card-features {
      .icon-features-active {
        font-size: 30px;
      }
    }
  }
  // main middle
  // main bottom
  @mixin detail-style() {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .main-bottom-wrapper {
    input#detail-1:checked ~ div.detail-1 {
      @include detail-style();
    }
    input#detail-2:checked ~ div.detail-2 {
      @include detail-style();
    }
    input#detail-3:checked ~ div.detail-3 {
      @include detail-style();
    }
    input#detail-4:checked ~ div.detail-4 {
      @include detail-style();
    }
  }
  // main bottom
  .main-bottom-wrapper {
    padding-inline: 40px;
    .btn {
      display: grid;
      grid-template-columns: 1fr 90px;
      padding: 14px;
      font-size: 16px;
      .sign {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
    }
    .detail {
      grid-template-columns: 1fr;
      padding: 20px;
      align-items: center;
      justify-items: start;
    }
  }
}
