@media (max-width: 768px) {
  .header .nav .nav-menu .menu .menu-item {
    padding-top: 20px;
  }
  .header .nav .nav-menu .menu .menu-item .menu-link {
    font-size: 16px;
    padding: 5px;
  }
  .header .nav .nav-menu .menu .menu-item:last-child .menu-link {
    padding: 10px 20px;
  }
  .header .container-1100 {
    grid-template-columns: 1fr;
  }
  .header .container-1100 .site-description-header-text {
    grid-column: 1/-1;
  }
  .header .container-1100 .site-description-header-text .paragraph-wrapper .paragraph-description {
    margin-bottom: 55px;
  }
  .header .container-1100 .site-description-header-text .btn {
    padding-inline: 35px;
  }
  .header .container-1100 .rocket {
    display: none;
  }
  .footer-top .container-1100 {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
  }
  .footer-top .container-1100 .footer-top-first-section-text .title {
    margin-bottom: 5px;
  }
  .footer-top .container-1100 .footer-top-first-section-text .description {
    margin-bottom: 35px;
    line-height: 1.7;
  }
  .footer-top .container-1100 .btn {
    width: 25%;
  }
  .footer-middle {
    min-height: 850px;
  }
  .footer-middle .container-1100 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "it-host it-host" "usefull-link latest-posts";
    grid-gap: 30px;
    align-items: center;
  }
  .footer-middle .container-1100 .section-1 {
    width: 100%;
    padding-top: 100px;
    padding-inline: 50px;
    grid-area: it-host;
  }
  .footer-middle .container-1100 .section-1 .it-host .logo {
    width: 18%;
    margin-bottom: 40px;
  }
  .footer-middle .container-1100 .section-1 .it-host .social-media-icons .icon-list {
    grid-template-columns: repeat(5, 43px);
  }
  .footer-middle .container-1100 .section-2 {
    grid-area: usefull-link;
    padding-left: 50px;
  }
  .footer-middle .container-1100 .section-2 .usefull-link-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .footer-middle .container-1100 .section-3 {
    grid-area: latest-posts;
    margin-top: 65px;
  }
  .footer-bottom {
    min-height: 90px;
  }
  .footer-bottom .container-1100 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "menu menu" "copyright copyright";
    height: 90px;
  }
  .footer-bottom .container-1100 .copyright {
    grid-area: copyright;
    padding: 25px;
    padding-top: 5px;
    font-size: 15px;
  }
  .footer-bottom .container-1100 .footer-menu {
    grid-area: menu;
    display: grid;
    justify-items: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .main-top-title .logo {
    width: 24%;
    padding-left: 70px;
  }
  .main-top-features {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .main-top-features .card-features-active {
    margin-bottom: 0px !important;
  }
  .main-top-features .card-features .icon-features-active {
    font-size: 30px;
  }
  .main-middle-form .form {
    padding-inline: 30px;
  }
  .main-middle-form .paragraph-wrapper {
    padding: 20px;
  }
  .main-middle-form .paragraph-wrapper .paragraph-description {
    font-size: 14.5px;
  }
  .main-middle-progressbar {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .main-middle-progressbar .container-1100 {
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper {
    overflow: hidden;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper {
    width: 100%;
    height: 100%;
    padding: 3px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 100%);
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages {
    min-height: 300px;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message {
    background-color: #eef6f9;
    width: 100%;
    height: auto;
    padding: 1px;
    padding-inline: 70px;
    border-radius: 10px;
    color: rgba(51, 51, 51, 0.5);
    text-align: justify;
    line-height: 1.7em;
    position: relative;
    font-size: 16px;
    font-variant: small-caps;
    text-transform: capitalize;
    box-shadow: 2px 2px 6px #eef6f9;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message:after {
    content: "";
    border: 15px solid transparent;
    border-top: 15px solid #eef6f9;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-170%, 0%);
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #eef6f9;
    cursor: pointer;
    position: absolute;
    top: 155%;
    left: 0%;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message .circle-1 {
    background-color: #eef6f9;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message .circle-2 {
    margin-left: 20px;
    background-color: #eef6f9;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message .circle-3 {
    margin-left: 40px;
    background-color: #eef6f9;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .message .circle-active {
    background-color: rgb(230, 55, 90);
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .client .person {
    position: absolute;
    left: 100%;
    top: 90%;
    transform: translate(-100%, -100%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 5px black;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .client .person img {
    border-radius: 50%;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-messages .client .client-info {
    position: absolute;
    left: 80%;
    top: 80%;
    transform: translate(-100%, -100%);
    display: flex;
    flex-direction: column;
    width: 37%;
    padding-right: 20px;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-2 {
    display: block;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .wrapper .slide-3 {
    display: block;
  }
  .main-bottom-title .logo {
    width: 25%;
    padding-left: 75px;
  }
  .main-selling-plans .container-1100 .plans {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding-inline: 180px;
  }
  @keyframes move-slider {
    0% {
      transform: translateX(0%);
    }
    10% {
      transform: translateX(-107%);
    }
    20% {
      transform: translateX(-107%);
    }
    30% {
      transform: translateX(-107%);
    }
    40% {
      transform: translateX(-107%);
    }
    50% {
      transform: translateX(-213%);
    }
    60% {
      transform: translateX(-213%);
    }
    70% {
      transform: translateX(-213%);
    }
    80% {
      transform: translateX(0%);
    }
    90% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}/*# sourceMappingURL=tablet-index.css.map */