@media (max-width: 768px) {
  .header .nav .nav-menu .menu .menu-item {
    padding-top: 20px;
  }
  .header .nav .nav-menu .menu .menu-item .menu-link {
    font-size: 16px;
    padding: 5px;
  }
  .header .nav .nav-menu .menu .menu-item:last-child .menu-link {
    padding: 10px 20px;
  }
  .header .container-1100 {
    grid-template-columns: 1fr;
  }
  .header .container-1100 .site-description-header-text {
    grid-column: 1/-1;
  }
  .header .container-1100 .site-description-header-text .paragraph-wrapper .paragraph-description {
    margin-bottom: 55px;
  }
  .header .container-1100 .site-description-header-text .btn {
    padding-inline: 35px;
  }
  .header .container-1100 .rocket {
    display: none;
  }
  .footer-top .container-1100 {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
  }
  .footer-top .container-1100 .footer-top-first-section-text .title {
    margin-bottom: 5px;
  }
  .footer-top .container-1100 .footer-top-first-section-text .description {
    margin-bottom: 35px;
    line-height: 1.7;
  }
  .footer-top .container-1100 .btn {
    width: 25%;
  }
  .footer-middle {
    min-height: 850px;
  }
  .footer-middle .container-1100 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "it-host it-host" "usefull-link latest-posts";
    grid-gap: 30px;
    align-items: center;
  }
  .footer-middle .container-1100 .section-1 {
    width: 100%;
    padding-top: 100px;
    padding-inline: 50px;
    grid-area: it-host;
  }
  .footer-middle .container-1100 .section-1 .it-host .logo {
    width: 18%;
    margin-bottom: 40px;
  }
  .footer-middle .container-1100 .section-1 .it-host .social-media-icons .icon-list {
    grid-template-columns: repeat(5, 43px);
  }
  .footer-middle .container-1100 .section-2 {
    grid-area: usefull-link;
    padding-left: 50px;
  }
  .footer-middle .container-1100 .section-2 .usefull-link-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .footer-middle .container-1100 .section-3 {
    grid-area: latest-posts;
    margin-top: 65px;
  }
  .footer-bottom {
    min-height: 90px;
  }
  .footer-bottom .container-1100 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "menu menu" "copyright copyright";
    height: 90px;
  }
  .footer-bottom .container-1100 .copyright {
    grid-area: copyright;
    padding: 25px;
    padding-top: 5px;
    font-size: 15px;
  }
  .footer-bottom .container-1100 .footer-menu {
    grid-area: menu;
    display: grid;
    justify-items: flex-end;
    padding-top: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .main-middle-form .form {
    padding-inline: 50px;
  }
  .middle-post-about-us {
    padding-inline: 50px;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 50px;
  }
  .middle-post-about-us .description-post .title {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    color: #1b1b1b;
  }
  .middle-post-about-us .description-post .text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 50px;
    color: #949494;
  }
  .middle-post-about-us .description-post .description-post-btn {
    display: flex;
  }
  .middle-post-about-us .description-post .description-post-btn .btn {
    padding-inline: 50px;
  }
  .middle-info-about-us {
    background: url("../../../assets/img/background/02.webp") no-repeat top center/cover;
  }
  .middle-info-about-us .container-1100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }
  .middle-info-about-us .row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .middle-info-about-us .row-1 .description {
    font-size: 20px;
    text-align: center;
  }
  .middle-info-about-us .row-2 {
    margin-bottom: 100px;
  }
  .middle-top-title-about-us {
    margin-bottom: 100px;
  }
  .middle-top-title-about-us .container-1100 .logo {
    margin-left: 68px;
    margin-bottom: 10px;
  }
  .middle-top-title-about-us .container-1100 .logo img {
    width: 17%;
  }
  .meet-team-about-us .container-1100 {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
  .client-logos-about-us .container-1100 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 25px;
  }
  .client-logos-about-us .container-1100 .client-logo .logo {
    margin-right: 3px;
  }
}/*# sourceMappingURL=tablet-about.css.map */