@media (max-width: 480px) {
  .header .container .nav .nav-menu {
    display: none;
  }
  .header .container .nav .hamberger-menu {
    display: block;
  }
  .header {
    position: relative;
  }
  .header .fa-bars {
    display: block;
  }
  .header input#checkbox[type=checkbox]:checked + nav.nav-mobile {
    display: block;
    animation-name: menu-down;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
  .header .nav-mobile {
    display: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 20%;
    box-shadow: 2px 2px 5px black;
    z-index: 5;
  }
  .header .nav-mobile .nav-menu .menu .menu-item {
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    text-align: left;
    padding: 20px;
    cursor: pointer;
    position: relative;
  }
  .header .nav-mobile .nav-menu .menu .menu-item:hover {
    transition: 0.5s;
    color: rgb(236, 48, 85);
  }
  .header .nav-mobile .nav-menu .menu .menu-item .menu-link {
    width: 100%;
    font-weight: 500;
  }
  .header .nav-mobile .nav-menu .menu .menu-item .menu-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .header .nav-mobile .nav-menu .menu .register-item {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding: 20px;
  }
  .header .nav-mobile .nav-menu .menu .register-item .menu-link {
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 100px;
    transition: 0.5s;
    border-bottom: 0px;
    color: white;
  }
  .header .nav-mobile .nav-menu .menu .register-item .menu-link:hover {
    transition: 0.5s;
    background-color: white;
    border-bottom: 0px;
    opacity: 0.9;
  }
  .header .nav-mobile .nav-menu .menu .register-item .menu-link::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .header .container-1100 .site-description-header-text .title {
    color: white;
    font-size: 4.5rem;
  }
  .header .container-1100 .site-description-header-text .paragraph-wrapper .paragraph-description {
    margin: 40px 0px;
  }
  @keyframes menu-down {
    0% {
      height: 0;
      opacity: 0;
    }
    25% {
      height: 25%;
      opacity: 0.2;
    }
    50% {
      height: auto;
      opacity: 0.5;
    }
    75% {
      height: auto;
      opacity: 0.7;
    }
    100% {
      height: auto;
      opacity: 1;
    }
  }
  .header .nav-mobile {
    top: 12%;
  }
  .main-top-title .logo {
    width: 44%;
    padding-left: 85px;
  }
  .main-top-features {
    grid-template-columns: 1fr;
  }
  .main-middle-form .main-middle-title .logo {
    width: 5%;
  }
  .main-middle-form .form {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .main-middle-form .paragraph-wrapper {
    padding: 0px 20px;
  }
  .main-middle-progressbar {
    margin-bottom: 100px;
  }
  .main-middle-progressbar .container-1100 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .slide-messages {
    position: relative;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .slide-messages .client .person {
    left: 100%;
    top: 170%;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .slide-messages .client .client-info {
    position: absolute;
    left: 75%;
    top: 160%;
  }
  .main-middle-progressbar .container-1100 .slider-wrapper .slide-messages .client .client-info .client-name {
    font-size: 16px;
  }
  .main-bottom-title {
    margin-top: 250px;
  }
  .main-bottom-title .logo {
    width: 45%;
  }
  .main-selling-plans .container-1100 .plans {
    padding-inline: 25px;
  }
  .footer-top {
    display: none;
  }
  .footer-middle {
    min-height: 1400px;
  }
  .footer-middle .container-1100 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "it-host it-host it-host" "usefull-link  usefull-link empty" "latest-posts  latest-posts empty";
  }
  .footer-middle .container-1100 .section-1 {
    width: 100%;
    padding: 90px 15px;
    padding-bottom: 30px;
  }
  .footer-middle .container-1100 .section-1 .it-host .logo {
    width: 28%;
    margin-bottom: 20px;
  }
  .footer-middle .container-1100 .section-2 {
    padding-left: 15px;
  }
  .footer-middle .container-1100 .section-2 .usefull-link-lists {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .footer-middle .container-1100 .section-3 {
    padding-left: 15px;
    grid-area: latest-posts;
    margin-top: 45px;
  }
  .footer-bottom {
    min-height: 130px;
  }
  .footer-bottom .container-1100 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "menu menu" "copyright copyright";
    height: 130px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  .footer-bottom .container-1100 .copyright {
    grid-area: copyright;
    padding: 25px;
    padding-top: 5px;
    font-size: 15px;
  }
  .footer-bottom .container-1100 .footer-menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .footer-top {
    display: block;
  }
  .footer-top .container-1100 {
    padding: 10px;
  }
  .footer-top .container-1100 .btn {
    width: 40%;
  }
}/*# sourceMappingURL=mobile-index.css.map */