@media (max-width: 480px) {
  //header
  @import "global-mobile";
  //main
  // main top title
  .main-top-title {
    .logo {
      width: 44%;
      padding-left: 85px;
    }
  }
  // main top features
  .main-top-features {
    grid-template-columns: 1fr;
  }
  // main bottom
  .main-bottom-wrapper {
    padding-inline: 20px;
    .detail {
      padding: 10px;
    }
  }
  //footer
  @import "global-footer";
}
