@media (max-width: 375px) {
  // header
  .header {
    .container-1100 {
      .site-description-header-text {
        .title {
          font-size: 3rem;
        }
        .paragraph-wrapper {
          .paragraph-description {
            line-height: 1.7;
            font-size: 15px;
          }
        }
      }
    }
  }
  // footer middle
  .footer-middle {
    .container-1100 {
      grid-template-areas:
        "it-host it-host it-host"
        "usefull-link  usefull-link empty"
        "latest-posts  latest-posts latest-posts";
      .section-3 {
        .comment-post {
          .post-img {
            width: 18%;
            height: 18%;
          }
          .description {
            .text {
              font-size: 16px;
              margin-bottom: 7px;
            }
            .time {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  // footer bottom
  .footer-bottom {
    min-height: 130px;
    .container-1100 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "menu menu"
        "copyright copyright";
      height: 130px;
      align-items: center;
      justify-items: center;
      text-align: center;
      .copyright {
        grid-area: copyright;
        padding: 25px;
        padding-top: 5px;
        font-size: 15px;
      }
      .footer-menu {
        grid-area: menu;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 320px) {
  // footer bottom
  .footer-bottom {
    min-height: 130px;
    .container-1100 {
      min-height: 130px;
      .copyright {
        font-size: 13px;
      }
      .footer-menu {
        font-size: 12px;
      }
    }
  }
}
